@import '../partials/colors';

.topfooter{
    background: linear-gradient(45deg, $qua-pink, $pri-orange);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .sect1,.sect2 {
        h2 {
            color: #fff;
            font-weight: 100;
            display: inline-block;
            margin-bottom: 0;
            border-bottom: 2px solid #fff;
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                padding: 5px 0px;
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: 0.2s all linear;
                    &:hover{
                        color: #2ecc71;
                    }
                }
            }
        }
    }
}

.footer {
    background: linear-gradient(135deg, $qua-pink, $pri-orange);
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .topfooter{
        margin-top: 0;
        flex-direction: column;
        align-items: start;
        .sect2, .sect1{
            margin-left: 20px;
        }
    }
}