@import '../partials/base';

.hero-sect {
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 92vh;
    margin-bottom: 20px;
    width: 80%;


    .hero-text {
        color: $element-dark;
        // flex-grow: 4;
        float: left;
        clear: both;
        // position: absolute;
        left: 15%;
        margin-top: 25px;
        margin-left: 25px;
        top: 17%;
        // margin-top: -75px;
        z-index: 2;

        & h1 {
            margin-bottom: 30px;
        }

        .marginfix {
            margin: 10px;
        }

        .hero-desc {
            color: $nonelement-dark;
        }
    }

    .hero-imgcontainer {
        // position: absolute;
        // height: 90%;
        width: 90%;
        float: right;
        margin: 20px;
        bottom: 5%;
        right: 0;

        Img{
            width: 100%;
            height: 100%;
            object-fit: contain; 

        }
    }

    .cta-btn {
        align-self: center;
        text-decoration: none;
        padding: 1rem 1rem;
        margin: 10px 0;
        transition: all 0.8s ease-in-out;
        color: $white;
        font-size: 1rem;
        letter-spacing: 1px;
        outline: none;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        /*
        Above is shorthand for:
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        border-bottom-right-radius: 225px 15px;
        border-bottom-left-radius:15px 255px;
        */
        background: linear-gradient(45deg, $pri-orange, $qua-pink);

        &:hover {
            box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
            background: transparent;
            color: $element-dark;
        }

        &.lined.thick {
            border: solid 7px $ter-yellow;
        }

        &.lined.thin {
            border-right: solid 2px $qua-pink;
            border-left: solid 2px $pri-orange;
            border-top: solid 2px $qua-pink;
            border-bottom: solid 2px $pri-orange;
        }
    }

    .cta-sec {
        text-decoration: none;
        color: $hex-blue;
        margin-left: 2px;
        font-weight: 900;
        font-family: 'sans-serif';
    }

}

@media screen and (max-width: 768px) {
    .hero-sect {
        width: 100%;
        height: 100%;
        .hero-text{
            margin: 5px;
        }

        .hero-imgcontainer {
            margin: 5px;
            margin-top: 15px;
            width: 95%;
            bottom: 10%;
        }

        .hero-text {
            top: 20%;
            left: 20%;
            text-align: center;

            & h1 {
                margin-bottom: 45px;
                text-align: center;
            }
        }

        & br {
            display: none;
        }
    }
}